/* Navbar */
@media (min-width: 992px) {
    #mainNav.navbar-shrink .header-nav-contact{
        margin-bottom: -55px;
    }
}
@media only screen and (max-width:600px) {
    .header-nav-contact {
        display: none!important
    }
}

@media only screen and (max-width:992px) {
    .header-nav-contact {
        display: none!important
    }
}

/* iPhone 5 ----------- */
@media (max-width: 576px) {
    header .header-title{
        font-size: 1.5rem !important;
        font-family: 'Cinzel', serif;
        word-spacing: 5px;
        font-weight: 100;
        padding-top: 8rem !important;
    } 
}

#mainNav .navbar-toggler {
    font-size: 12px;
    right: 0;
    padding: 13px;
    text-transform: uppercase;
    color: #212529;
    border: 0;
    background-color: #fed136;
    font-weight: 700;
    font-family: 'Montserrat', sans-serif;
}
.header-nav-contact{
    height: auto;
    width: 100%;
    position: relative;
    margin-bottom: -45px;
}
.header-nav-contact .h-social-icons,
.header-nav-contact .h-address,
.header-nav-contact .h-tel{
    padding: 10px 0;
    float: right;
    margin-left: 3rem;
    color: #fff;
}

.header-nav-contact .h-address a,
.header-nav-contact .h-tel a{
    color: #bababa;
}

.header-nav-contact .h-social-icons ul.h-social-buttons li a{
    font-size: 20px;
    display: block;
    color: #fff;
    line-height: 0px;
}

#mainNav .navbar-nav .nav-item .nav-link {
    font-size: 1rem;
    font-weight: 700;
    padding: .75em 0;
    letter-spacing: 1px;
    color: #bababa;
    font-family: 'Montserrat', sans-serif;
}

/* Header */
header.h-video {
    position: relative;
    background-color: black;
    height: 100vh;
    min-height: 25rem;
    width: 100%;
    overflow: hidden;
}
header.h-video video {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: 0;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
}
header.h-video .overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: black;
    opacity: 0.5;
    z-index: 1;
  }
  header.h-video .container {
    position: relative;
    z-index: 2;
  }
  
  header.h-video .overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: black;
    opacity: 0.5;
    z-index: 1;
  }

  header .header-title{
      font-size: 2rem;
      font-family: 'Cinzel', serif;
      word-spacing: 5px;
    font-weight: 100;
    padding-top: 12rem;
  }
  @media (pointer: coarse) and (hover: none) {
    header.h-video {
      background: url('https://source.unsplash.com/XT5OInaElMw/1600x900') black no-repeat center center scroll;
    }
    header.h-video video {
      display: none;
    }
  }

.page-section{
    padding: 150px 0;
}
/* navbar */
@media (min-width: 992px) {
    #mainNav .navbar-brand > img{
        height: 100px;
    }
    #mainNav.navbar-shrink {
        padding-top: 0;
        padding-bottom: 0;
        background-color: transparent;
        background: linear-gradient(0deg, rgba(255,255,255,0) 0%, rgba(0,0,0,1) 100%);
    }
    .position-btm{
        position: absolute;
        width: 100%;
        bottom: 6rem;
    }
}
@media (max-width: 991.98px) {
    #mainNav .navbar-brand > img{
        height: 50px;
    }
    .page-section{
        padding: 50px 0;
    }
}
/* Services */
.page-section#services{
    color: #fff;
    background-image: url('../img/bg-services.png');
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center center;
    background-size: cover;
}
.page-section h2.section-heading {
    font-size: 1.3rem;
    margin-top: 0;
    margin-bottom: 4rem;
    font-weight: 400;
}

.card-general-cons{
    color: #fff;
    background-color: #0a5150;
    /* height: 570px; */
}

.card-stone-tile{
    color: #fff;
    background-color: #d19921;
    /* height: 570px; */
}

/* Porfolio */
.page-section#portfolio{
    color: #fff;
    background-image: url('../img/bg-projectclient.png');
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center center;
    background-size: cover;
}

.page-section#portfolio .section-heading{
    font-size: 2.2rem;
    margin-bottom: 15px;
}
.page-section#portfolio .section-subheading{
    font-size: 1.2rem;
    margin-bottom: 3rem;
    font-style: normal;
    font-family: 'Montserrat', sans-serif;
}
.page-section#portfolio .carousel-container{
    background-color: #fff;
    padding: 20px 20px calc(115px + 1vw) 20px;
}
.page-section#portfolio ol.carousel-indicators{
    z-index: 15 !important;
    margin-top: 51%;
    bottom: unset;
}
.page-section#portfolio ol.carousel-indicators li{
    width: 175px;
    height: auto;
}
.page-section#portfolio .carousel-control-next-icon, .page-section#portfolio .carousel-control-prev-icon{
    width: 75px;
    height: 75px;
}

/* About */
.page-section#about{
    color: #fff;
    background-image: url('../img/bg-about.png');
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center center;
    background-size: cover;
}

.page-section#about .card-about{
    color: #fff;
    background-color: #181818;
    padding: 3rem 1.5rem 3rem 3rem;
}
.card-about .card-body{
    max-height: 500px;
    overflow: auto;
    padding: 0 1.5rem 0 0 ;
}

/* width */
.card-about .card-body::-webkit-scrollbar {
    width: 7px;
}

/* Track */
.card-about .card-body::-webkit-scrollbar-track {
    background: #685a59; 
    border-radius: 10px;
}

/* Handle */
.card-about .card-body::-webkit-scrollbar-thumb {
    background: #df9f15; 
    border-radius: 10px;
}

/* Handle on hover */
.card-about .card-body::-webkit-scrollbar-thumb:hover {
    background: #0a5150; 
}

.card-about .card-subtitle{
    color: #df9f15;
    font-weight: 400;
    margin-bottom: 20px;
}

.card-about .card-subtitle-b{
    color: #df9f15;
    font-weight: 700;
    margin-bottom: 20px;
    text-transform: uppercase;
}

.card-about .card-text{
    color: #c9cdba;
    font-weight: 400;
    margin-bottom: 20px;
}

/* Our People */
.page-section#team{
    /* color: #fff; */
    background-image: url('../img/bg-team.png');
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center center;
    background-size: cover;
}

.page-section#team .card{
    /* height: 650px; */
    margin-bottom: 3rem;
}

.team-member{
    border: 1px #c9cdba solid;
    margin-bottom: 0px;
}

.team-member img {
    width: 175px;
    height: 175px;
    border: 7px solid rgba(255,255,255,1);
    box-shadow: 1px 2px 4px rgba(0, 0, 0, .5);
    margin-top: -80px;
}

.team-member h4 {
    margin-bottom: 20px;
    text-transform: none;
}

/* Contact Us */
.page-section#contact{
    color: #fff;
    background-image: url('../img/bg-contact.jpg');
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center center;
    background-size: cover;
}
section#contact h2.section-heading{
    font-size: 1.7rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
}
section#contact .form-group {
    margin-bottom: 15px;
}
section#contact .form-group input, section#contact .form-group textarea {
    padding: 15px;
}
section#contact .form-group .form-control {
    border-radius: 1px;
}
section#contact ::-webkit-input-placeholder {
    font-weight: 700;
    color: #685a59;
    font-family: Montserrat,-apple-system,BlinkMacSystemFont,'Segoe UI',Roboto,'Helvetica Neue',Arial,sans-serif,'Apple Color Emoji','Segoe UI Emoji','Segoe UI Symbol','Noto Color Emoji'
}

section#contact :-moz-placeholder {
    font-weight: 700;
    color: #685a59;
    font-family: Montserrat,-apple-system,BlinkMacSystemFont,'Segoe UI',Roboto,'Helvetica Neue',Arial,sans-serif,'Apple Color Emoji','Segoe UI Emoji','Segoe UI Symbol','Noto Color Emoji'
}

section#contact ::-moz-placeholder {
    font-weight: 700;
    color: #685a59;
    font-family: Montserrat,-apple-system,BlinkMacSystemFont,'Segoe UI',Roboto,'Helvetica Neue',Arial,sans-serif,'Apple Color Emoji','Segoe UI Emoji','Segoe UI Symbol','Noto Color Emoji'
}

section#contact :-ms-input-placeholder {
    font-weight: 700;
    color: #685a59;
    font-family: Montserrat,-apple-system,BlinkMacSystemFont,'Segoe UI',Roboto,'Helvetica Neue',Arial,sans-serif,'Apple Color Emoji','Segoe UI Emoji','Segoe UI Symbol','Noto Color Emoji'
}

/* Footer */
.footer {
    background-color: #181818;
    border-top: 10px #083a39 solid;
    color: #fff;
}

.footer span.copyright {
    font-size: 0.8rem;
    line-height: 0;
    text-transform: none;
    font-family: Montserrat,-apple-system,BlinkMacSystemFont,'Segoe UI',Roboto,'Helvetica Neue',Arial,sans-serif,'Apple Color Emoji','Segoe UI Emoji','Segoe UI Symbol','Noto Color Emoji';
}
.footer .ftr-term-privacy, .footer .ftr-term-privacy > a{
    color: #797979;
    font-size: .7rem;
}
.footer .ftr-terms{
    margin-right: 10px;
}
.footer .ftr-privacy{
    margin-left: 10px;
}

.footer .footer-details.fd-left{
    text-align: left;
}
.footer .footer-details.fd-right{
    text-align: right;
}

@media (max-width: 767px) {
    .footer .footer-details{
        text-align: center !important;
    }
}

/* Carousel Modal for Projects */
#carouselProjects .carousel-inner .carousel-item .carousel-caption{
    width: 100%;
    right: 0;
    left: 0;
    color: #47370c;
    background-color: #fff;
    padding: 20px 20px;
    bottom: 0px;
}
#carouselProjects .carousel-inner{
    border: 1px #756968 solid;
}
#carouselProjects .carousel-inner{
    border: 1px #756968 solid;
}
.portfolio-modal .modal-content #carouselProjects img{
    margin-bottom: 0;
}

#carouselProjects ol.carousel-indicators {
    z-index: 15 !important;
    margin-top: 52%;
    bottom: unset;
}
#carouselProjects ol.carousel-indicators li{
    width: 10px;
    height: 10px;
    border: 2px #c8c8c8 solid;
    border-radius: 30px;
    background-color: #fff;
    margin-right: 9px;
    margin-left:9px;
}
#carouselProjects ol.carousel-indicators li.active{
    width: 10px;
    height: 10px;
    border: 2px #fdca40 solid;
    border-radius: 30px;
    background-color: #fdca40;
}

#carouselProjects .carousel-control-next-icon, #carouselProjects .carousel-control-prev-icon{
    width: 50px;
    height: 50px;
}

/* Helpers */
.text-dark-green{
    color: #0a5150;
}
.text-dark-yellow{
    color: #df9f15;
}
.text-darker-yellow{
    color: #c9cdba;
}
.text-dark-brown{
    color: #756968;
}

.text-lh-20{
    line-height: 20px;
}

.p-bg-color{
    background-color: #0a5150 !important;
    color: #fff;
    /* padding: 10px; */
}

.s-bg-color{
    background-color: #df9f15 !important;
    color: #fff;
    /* padding: 10px; */
}
.s-bg-color-brown-text{
    background-color: #df9f15 !important;
    color: #47370c;
    /* padding: 10px; */
}

.p-bg-color:hover{
    background-color: #083a39 !important;
    color: #fff;
}

.s-bg-color:hover{
    background-color: #af7d11 !important;
    color: #fff;
}